---
import Logo from '@/assets/logo.svg';
import { CategoriesSchema } from '@/types';
const url = `http://localhost:3000/wp-json/wp/v2/freshcoffee_categories/`;
const res = await fetch(url);
const json = await res.json();
const categories = CategoriesSchema.parse(json);

console.log(categories);
---

<aside
  class="md:w-80 md:h-screen md:overflow-y-scroll p-5 border-r border-gray-200"
>
  <div class="flex items-center justify-center p-5">
    <Logo />
  </div>
</aside>
